<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <div>
        <p>Trainer: <%= trainer.trainername %></p>
    </div>
    <% pokemon.forEach((poke)  =>
{ %>
    <div>
        <p>Name: <%= poke.name %></p>
        <p>Type: <%= poke.types %></p>
        <img src="<%= poke.img_url %>" alt="<%= poke.name %>">
    </div>
<% }); %>
</body>
</html>